img {
  width :100%;
  height: 500px;
}

body{
  background-color: #454545;
}

#main {
  text-align: center;
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
  display: inline-block;
  width: 100%;
}

#website {
  font-size:small;
}
#name {
  font-size: large;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

#prof{
  color: #ffa500;
  font-size: medium;
}

#buttons{
  display: flex;
  padding-left: 30px;
  margin-top: 15px;
/*  opacity: 0.5; */
}

a.hover{
  opacity: 1;
}
#linkdin , #email{
  width: 150px;
  height:40px;
  border-radius: 8px;
  border-color: #000000;
  border-width: 0.1px;
  border-style: solid;
  margin-right: 140px;
  opacity: 0.5; 
  
}

#linkdin:hover , #email:hover{
  opacity: 1;
}

#aboutHeader , #hobbiesHeader{
  color: #ffa500;
  font-size: larger;
  font-family: 'Courier New', Courier, monospace;
  margin-left: 10px;
  font-weight: bolder;
  
 }

 #aboutPara , #hobbiesPara {
  color: #ffffff;
  padding-left: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
 }

#footer{
  display: flex;
  background-color: #000000;
  padding-top: 13px;
  padding-bottom: 10px;

}

#twitter , #insta{
  width: 20px;
  height: 20px;
  padding-top: 5px;
}

#github{
  width: 30px;
  height: 30px;
}

#github , #twitter, #insta{
  padding-left:90px;
  opacity: 0.5;
}

#github:hover , #twitter:hover, #insta:hover{
  opacity: 1;
}



